<% @messages.each do |message| %>
  <% if message.body %>
    <% user = User.find(message.user_id) %>
      <article class="messages">
        <div class="message-body">
          <%= avatar_for(user) %> 
          <div class="inline-block"><strong><%= user.username %></strong> <small class="text-muted"><%= message.sent_time %></small>
            <div><%= message.body %></div>
          </div>
        </div>
      </article>
  <% end %>
<% end %>

<%= form_for [@conversation, @message] do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: "Your message", rows: 5, style: 'width:100%;' %>
  </div>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <%= f.submit "Send" %>
<% end %>





