<div class="signupContainer mt-5">
<h1 class="sign text-center mb-3">Sign Up</h1>
  <div class="d-flex justify-content-center">
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
      <%= f.file_field :avatar%>
      <%= f.text_field :username, class:"form-control mb-3", placeholder: "Username" %>
      <%= f.text_field :email, class:"form-control mb-3", placeholder: "Email" %>
      <%= f.password_field :password,  class:"form-control mb-3", placeholder: "Password" %>
      <%= f.password_field :password_confirmation, class:"form-control mb-3", placeholder: "Confirm Password" %>
      <%= f.submit "Sign Up", class: "btn btn-info mt-1 form-control" %>
  <% end %>
  </div>
</div>
