<div class="container mt-5">
  <h2 class="list-group-item list-group-item-secondary text-center">My Profile </h2>
  <div class="container">User Name:
    <%= current_user.username %>

    <div class="field form-group">User Email:
      <%= current_user.email %>
    </div>
    <div class="text-center mt-3">


      <%= link_to 'Edit', edit_user_path, class:"btn btn-secondary" %>
      <%= link_to "Delete account", @user, class:"btn btn-secondary", method: :delete, data: { confirm: "You sure?" } %>
      <%= link_to "Back", home_index_path, class:"btn btn-secondary" %>
        </div>
  </div>
</div>
