<div class="container-fluid">
  <h4 class="card-header">My Profile </h4><br>

  <%= avatar_for(@user) %>

  <div class="card-body">Username:
    <%= current_user.username %>
    <div class="field form-group">Email Address:
      <%= current_user.email %>
    </div> <br/>

    <div class="field form-group">Password:
      <%= "*****" %>
    </div> <br/>
    

      <td><%= link_to 'Edit', edit_user_path, class:"btn btn-dark" %></td>
      <td><%= link_to "Delete Account", @user, class:"btn btn-dark", method: :delete, data: { confirm: "Are you sure?" } %></td>

      <%= link_to "Back", home_index_path, class:"btn btn-dark" %>


  </div>
</div><br/>




