<p id="notice"><%= notice %></p>

<h1 id="gifts" class="display-4 text-center my-5 text-muted">Gifts</h1>
<p class="text-center">Note: You must be logged in to see full posts or to create a new gift.</p>
<p class="text-center"><%= link_to "New Gift", new_post_path %></p>

<div class="container ">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card" >
          <div class="card-body">
            <h4 class="card-title"><%= post.title %></h4>
            <%= link_to image_tag(post.image, style:'width:100%') if post.image.attached? %>
            <p class="card-text"><%= truncate(post.description, length: 60) %></p>
          </div>
          <div class="card-footer">
            <%= link_to 'See Full Post', post, class: "btn btn-info mx-auto d-block" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
