<div class="container mt-4 ">
<h1 id="gifts" class="display-4 text-center text-muted">Gifts</h1>

<%= form_tag posts_path, :method => 'get' do %>
<div class="input-group mb-4">

  <%= text_field_tag :search, params[:search], class:"form-control"%>
  <%= submit_tag "Search", class:"btn btn-info" %>
  <%= link_to "Create New Gift", new_post_path, class:"btn btn-rose mr-3"%>
</div>
<% end %>




<% if @posts.present? %>

    <% @posts.each do |post| %>
        <div class="card mb-4 mx-auto shadow rounded" style="max-width: 960px;">
            <div class="row g-1">
              <div class="col-md-4 p-3 bg-light d-flex align-items-center ">
                <%= link_to image_tag(post.image, class:"img-fluid rounded-start") if post.image.attached? %>
              </div>
                <div class="col-md-8">
              <div class="card-body">
            <h4 class="card-title"><%= post.title %></h4>
            <p class="card-text"> Category: <%= post.category.name %></p>
            <p class="card-text"><%= post.description %></p>
            <div class="d-flex justify-content-end ">
            <%= link_to 'See Full Post', post, class: "btn btn-rose" %>
            </div>
          </div>

          </div>

        </div>
        </div>
    <% end %>

<% else %>
  <h5 class="text-center"> Sorry, no Gifts have been posted.</h5>
  <p class="text-center">Do you have a resource you would like to gift? Please click the button below to get started.</p>
  <p class="text-center"><%= link_to "Post a Gift", new_post_path, class:"btn btn-info"%></p>
<% end %>
