<p id="notice"><%= notice %></p>

<h1 id="speakers" class="display-4 text-center my-5 text-muted">Posts</h1>

<div class="container ">
  <div class="card-deck">
    <% @posts.each do |post| %>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3">
          <div class="card-img-top mb-3 mx-auto">
            <%= link_to image_tag(post.image, style:'width:100%') if post.image.attached? %>
              <div class="card-body">
                <h4 class="card-title"><%= post.title %></h4>
                <p class="card-text"><%= truncate(post.description, length: 70) %></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">
                  <%= link_to 'See Full Post', post %>  |
                  <%= link_to 'Edit Post', edit_post_path(post) %>  |
                  <%= link_to 'Destroy', post, method: :delete %>
                </small>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'New Post', new_post_path %>
<%= link_to "New Category", new_category_path %>