<p id="notice"><%= notice %></p>

<div id="single-post-content" class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-6 col-sm-offset-3">
      <h3 style="text-align:center"><%= @post.title %></h3>
      <h6 style="text-align:center">Category: <%= @post.category.name %></h6>
      <div style="width:300px; height:auto; margin: auto">
        <%= image_tag(@post.image, style: "width:100%") %>
      </div>
      <p style="text-align:justify"><strong>Description:</strong> <%= @post.description %></p>
      <% if current_user %>
        <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-outline-info mx-auto d-inline" %> |
      <% end %>
      <%= link_to 'Back', posts_path, class: "btn btn-outline-info mx-auto d-inline" %>
    </div>
  </div><!-- row -->
</div>


