
<div class="giftContainer  mt-5">

  <h1 class="text-center sign mb-3">New Category</h1>
<div class="d-flex justify-content-center m-3">
<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :name,class:"form-control mb-3", placeholder: "Name" %>

  <%= form.submit "Create Category", class: "btn btn-info mt-1 form-control mb-3" %>

  <%= link_to 'Go Back', categories_path, class: "d-flex justify-content-end no_underscore " %>

<% end %>
</div>
</div>
