<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/">Gift<b>It</b></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="posts#index">Gifts</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gift Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% Category.all.each do |cat| %>
            <li><a class="dropdown-item"><%= link_to cat.name, posts_path(category: cat.name) %></a></li>
            <% end %>
          </ul>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link">
          <% if current_user %>
            Logged in as <%= current_user.username %>
            <%= link_to "Log Out", logout_path %>
          <% else %>
            <%= link_to "Log In", login_path, class: "btn btn-info" %>
            <%= link_to "Sign Up", signup_path, class: "btn btn-info" %>
          <% end %>
        </a>
      </li>
    </ul>
  </div>
</nav>