<!DOCTYPE html>
<html>
  <head>
    <title>GiftIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% if !flash[:alert].nil? %>
      <p class="my_alert"><%= flash[:alert] %></p>
    <% end %>
    <%= yield %>

  </body>
</html>
